In [6]:
people = {
    "First Name" : ["Syema", 'Eric'],
    "Last Name" : ["Ailia", 'Margules'],
    "Email" : ["syema.ailia@gmail.com", 'eric.i.margules@gmail.com'],
    "Smooshing Partner" : ["Eric", "Syema"]
}

In [2]:
people["Email"]

['syema.ailia@gmail.com', 'eric.i.margules@gmail.com']

In [3]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

  First Name Last Name                      Email Smooshing Partner
0      Syema     Ailia      syema.ailia@gmail.com              Eric
1       Eric  Margules  eric.i.margules@gmail.com             Syema

In [9]:
df["Email"]

0        syema.ailia@gmail.com
1    eric.i.margules@gmail.com
Name: Email, dtype: object

In [11]:
df.Email

0        syema.ailia@gmail.com
1    eric.i.margules@gmail.com
Name: Email, dtype: object

In [12]:
df[["Last Name", "Email"]]

  Last Name                      Email
0     Ailia      syema.ailia@gmail.com
1  Margules  eric.i.margules@gmail.com

In [13]:
df.columns

Index(['First Name', 'Last Name', 'Email', 'Smooshing Partner'], dtype='object')

In [14]:
df.iloc[0]

First Name                           Syema
Last Name                            Ailia
Email                syema.ailia@gmail.com
Smooshing Partner                     Eric
Name: 0, dtype: object

In [16]:
df.iloc[[0, 1]] #passing in a list to iloc

  First Name Last Name                      Email Smooshing Partner
0      Syema     Ailia      syema.ailia@gmail.com              Eric
1       Eric  Margules  eric.i.margules@gmail.com             Syema

In [17]:
df.iloc[[0, 1], 2]

0        syema.ailia@gmail.com
1    eric.i.margules@gmail.com
Name: Email, dtype: object

In [18]:
df.loc[[0,1], 'Email']

0        syema.ailia@gmail.com
1    eric.i.margules@gmail.com
Name: Email, dtype: object

In [19]:
df.loc[[0,1], ['Email', 'Last Name']] #first element is for rows, second element is for columns

                       Email Last Name
0      syema.ailia@gmail.com     Ailia
1  eric.i.margules@gmail.com  Margules